{% extends 'good/base.html' %}

{#{% block content %}#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="main">
        <section class="container py-2 py-md-3 py-xl-4 py-xxl-5">
            <h1 class="mb-2 mb-md-1 mb-xl-3">Новые скидки</h1>
            <div class="row justify-content-center">
                <div class="col-6 col-xl-4 col-xxl-3 my-2 my-xl-3">
                    <div class="product-card p-2 p-xl-3 position-relative">
                        <div class="product-card__rating d-flex justify-content-end position-absolute py-1 px-1 px-xl-2">
                            <span class="product-card__rating-minus px-2 pointer">-</span>
                            <span class="product-card__rating-value mx-2 d-flex justify-content-center align-items-center">0</span>
                            <span class="product-card__rating-plus px-2 pointer">+</span>
                        </div>
                        <div class="product-card__img d-flex justify-content-center align-items-center mb-2 mb-xl-3 position-relative">
                            <img src="https://static.kups.club/images/e2a115afb53fa97187aec9bea60b9a01.jpeg" width="150px" height="150px" alt="Product name">
                            <a href="#" class="fake-link-block"></a>
                        </div>
                        <a href="#" class="product-card__name d-block mb-1 mb-xl-2 text-decoration-none">Влажные салфетки детские</a>
                        <div class="d-flex justify-content-between align-items-center mb-2 mb-xl-3 flex-wrap flex-xl-nowrap">
                            <div class="product-card__price mb-1 mb-xl-0">Цена: <span>227₽</span></div>
                            <a href="#" class="product-card__buy text-decoration-none pointer text-center">К скидке</a>
                        </div>
                        <a href="#" class="flex-btn__outline d-inline-block text-decoration-none pointer text-center text-uppercase w-100 mb-1 mb-xl-2">Подробнее</a>
                        <div class="product-card__sale mb-2 mb-xl-3">Скидка от <a href="#">Wildberries</a></div>
                        <div class="product-card__add">Добавлено: 5 минут назад</div>
                    </div>
                </div>

            </div>
        </section>
    </main>
</body>
</html>

{#{% endblock %}#}