{#{% extends 'good/base.html' %}#}

{% block title %}
Главная страница
{% endblock %}
{% block body %}
<body class="text-center">
<div class="row g-3 form-signin w-100 m-auto">
    <h2>Регистрация пользователя</h2>
    <form action="/addUser/" method="post">
        <input type="text" name="login" id="login" class="form-label"
               placeholder="Введите логин"><br>
        <input type="text" name="password" id="password" class="form-label"
               placeholder="Введите пароль"><br>
        <input type="text" name="email" id="email" class="form-label"
               placeholder="Введите емаил"><br><br>
        <input type="submit" class="btn btn-success" value="Отправить">
    </form>

</div>
</body>
{% endblock %}